/*
font-family: 'Conv_Raleway-Bold', sans-serif;
font-family: 'Conv_Raleway-Light', sans-serif;
font-family: 'Conv_Raleway-Medium', sans-serif;
font-family: 'Conv_Raleway-Regular', sans-serif;
font-family: 'Conv_Raleway-ExtraBold', sans-serif;
*/
.container {
    width: 1170px;
    margin: 0 auto;
}
.header-line{
    height: 3px;
    background-color: rgb(65, 65, 65);
}
.clearfix {
    content: '';
    clear: both;
    display: table;
}
div.clear {
    clear: both;
}
/*-------HEADER-------*/

.header {
    background-color: whitesmoke;
}
.header-img {
    margin: 28px 0 25px 0;
    float: left;
}
.header-menu {
    float: right;
    margin: 48px 0;
}
.header-menu-item {
    font-family: 'Conv_Raleway-Bold', serif;
    font-size: 13px;
    font-weight: 700;
    float: left;
    margin-left: 47px;
}
.header-menu-link {
    text-decoration: none;
    color: rgb(96, 96, 96);
}
.header-menu-link_active {
    color: rgb(26, 187, 156);
}

/*----------END-HEADER---------*/

/*----------GREETING----------*/

.greeting-header, .greeting-text {
    color: rgb(96, 96, 96);
}
.greeting-header {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Conv_Raleway-Bold', serif;
    margin-top: 65px;
    margin-bottom: 20px;
}
.greeting-text {
    font-size: 25px;
    font-weight: 300;
    font-family: 'Conv_Raleway-Light', serif;
    margin-bottom: 65px;
}

/*-----------END-GREETING---------*/

/*----------SLIDER---------*/

.slider-wrap {
    margin-bottom: 80px;
}
.slick-prev, .slick-next {
    width: 45px;
    height: 45px;
    z-index: 1;
}
.slick-prev {
    left: 20px;
    background: url("../img/prev.png") no-repeat;
}
.slick-next {
    right: 20px;
    background: url("../img/next.png") no-repeat;
}
.slick-next:before,
.slick-next:after,
.slick-prev:before,
.slick-prev:after {
    content: '';
}
.slider-content {
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.slider-header,
.slider-text {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.95);
    font-family: 'Conv_Raleway-Medium', sans-serif;
    font-weight: 500;
    color: rgb(96, 96, 96);
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
}
.slider-header {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.slider-text {
    font-size: 16px;
}
.slider-text-link {
    color: rgb(26, 187, 156);
    text-decoration: none;
}
/*----------END-SLIDER--------*/

/*------------WWD--------------*/

.wwd-header-wrap {
    text-align: center;
    margin-bottom: 37px;
}
.wwd-header {
    display: inline-block;
    color: rgb(96, 96, 96);
    font-family: 'Conv_Raleway-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 18px;
}
.wwd-line {
    display: inline-block;
    vertical-align: 30%;
    width: 82px;
    height: 1px;
    background-color: rgb(225, 225, 225);
}
.wwd-content {
    margin-bottom: 80px;
}
.wwd-content-item {
    text-align: center;
    float: left;
    margin-right: 2.66%;
    box-sizing: border-box;
    width: 23%;
    height: 312px;
    border: 1px solid rgb(225, 225, 225);
}
.wwd-content-item_last {
    margin-right: 0;
}
.wwd-border {
    box-sizing: border-box;
    border: 1px solid rgb(225, 225, 225);
    margin: 3px;
    height: 304px;
}
.wwd-img {
    height: 55px;
    margin-top: 50px;
    margin-bottom: 28px;
}
.wwd-item-header {
    color: rgb(96, 96, 96);
    font-family: 'Conv_Raleway-Bold', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.wwd-item-text {
    color: rgb(122, 122, 122);
    font-family: 'Conv_Raleway-Medium', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin: 13px 20px 10px 20px;
}

/*------------END-WWD----------*/

/*----------PROCESS------------*/

.process {
    background: url("../img/process.png") no-repeat ;
}
.process-header-wrap {
    text-align: center;
    margin-bottom: 18px;
}
.process-header {
    display: inline-block;
    color: rgb(208, 208, 208);
    font-family: 'Conv_Raleway-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin: 78px 18px 0 18px;
}
.process-line {
    display: inline-block;
    vertical-align: 30%;
    width: 82px;
    height: 1px;
    background-color: rgb(119, 119, 119);
}
.process-text {
    color: rgb(208, 208, 208);
    font-family: 'Conv_Raleway-Regular', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin: 0 150px 45px 150px;
}
.process-icon-wrap {
    text-align: center;
}
.process-icon {
    display: inline-block;
    text-align: center;
    margin-bottom: 57px;
}
.process-icon-img {
    margin-bottom: 20px;
}
.process-icon-text {
    color: rgb(221, 221, 221);
    font-family: 'Conv_Raleway-Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}
.process-icon-line {
    position: relative;
    bottom: 88px;
    display: inline-block;
    width: 191px;
    height: 1px;
    background-color: rgb(119, 119, 119);
}

/*-------------END-PROCESS-------*/

/*------------PROJ----------*/

.proj-header-wrap {
    text-align: center;
    margin-bottom: 18px;
}
.proj-header {
    display: inline-block;
    color: rgb(97, 97, 97);
    font-family: 'Conv_Raleway-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin: 78px 18px 40px 18px;
}
.proj-line {
    display: inline-block;
    vertical-align: 30%;
    width: 82px;
    height: 1px;
    background-color: rgb(225, 225, 225);
}
.proj-content {
    float: left;
    width: 370px;
    margin: 0 30px 0 0;
}
.proj-content_last {
    margin-right: 0;
}
.proj-img {
    width: 373px;
    height: 250px;
    margin-bottom: 20px;
}
.proj-content-header {
    text-align: center;
    color: rgb(96, 96, 96);
    font-family: 'Conv_Raleway-Bold', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.proj-link {
    color: rgb(26, 187, 156);
    font-family: 'Conv_Raleway-Medium', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
}
.proj-content-text {
    color: rgb(122, 122, 122);
    font-family: 'Conv_Raleway-Medium', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    padding: 0 24px;
    margin-top: 20px;
    margin-bottom: 75px;
}

/*----------END-PROJ-----------*/